#myBtnContainer-faq {
    margin: 2rem -5px;
    position: relative;
}

.faq-wrapper .colle {
    border: 1px solid gray;
    margin-top: 3px;
    
}
.faq-wrapper .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
    margin-top: 3px;
}

.faq-wrapper  .active, .collapsible:hover {
    background-color: white;
}

.faq-wrapper .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
}

.faq-wrapper .active:after {
    content: "\2212";
}
  
.faq-wrapper .content {
    margin: 3px;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
}

.faq-wrapper .telegram-button {
    text-align: center;
}

