#myBtnContainer-faq {
    margin: 2rem -5px;
    position: relative;
}

.faq-wrapper .colle {
    border: 1px solid #9651A4;
    /* margin-top: 3px; */  
}
.faq-wrapper .collapsible {
    background-color: #9651A4;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    border: none;
    padding: 15px;
    /* margin-top: 3px; */
}
.faq-wrapper  .active{
    background-color: #9651A4;
}

.collapsible.faq:hover {
    background-color: #7f498a;
}

.faq-wrapper .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
}

.faq-wrapper .active:after {
    content: "\2212";
}
  
.faq-wrapper .content {
    /* margin: 3px; */
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
}

.faq-wrapper .telegram-button {
    text-align: center;
}

.main-banner.faq {
    background-position:left;
}
/* h5{
    font-size: medium;
} */
