/* Index.php styles */

#section-header {
    color: white;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    background:linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url("../img/General/BG_Index.png");

    background-size: cover;
}
.container.cour{
    display: flex;

  flex-flow: row wrap;
}
.col.info{
    position: relative;
    top: 50%;

}
.card.courses{
    background-color:black;
    color:white;
    flex:0 0 48%;
    max-width:48%;
    float:left;
    align-items:stretch;
    margin:9px 9px 9px 9px;
    text-align:center;
    justify-content:center;
    border:0px !important;
}
.referModule{
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    justify-content: stretch;
}
.referModule a{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.card.courses h6{
    font-weight:50;
    color:grey;
}    
.card.courses a{

    text-decoration:none;
    color:white;
}
#section-header h1 {
    font-size: 6rem;
    margin-bottom:0;
}

#section-header h2 {
    font-size: 2.5rem;
    display: inline-block;
}

.card.intro, .card-header.intro{
    background-color: transparent;
    border:none;
    display:inline-block;
}
.short-text{
    font-weight:250;
    font-size:0.7em;
}

#section-header p{
    font-size:2em;
}

.course-card {
    margin: 10px 0 10px 0;
}

.section .fp-slidesNav {
    text-align: center;
}

.course-information{
    flex-basis: 100%;
    /*Give more whitespace*/
    padding-top: 50px;
    min-height: 50vh;
} 

.course-career {
    flex-basis: 100%;
    min-height: 50vh;
}
.course-entry{
    /* padding-top:140px !important; */
    padding-top: 80px;
}

.course-information {
    background: #181818;
}



.course-career .job-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.course-career .job-wrapper p {
    flex: 1 0 30%; /* explanation below */
    margin: 10px;
}

/* #courseEntry{
    background:black;
    padding: 15px 0px 5px 15px
} */
/* #courseEntry{
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
/*    background: rgba(0, 0, 0, 0.5);
} */

.question-icon {
    width: 3.5rem;
    content: url("../img/General/question.svg");
}

.binoculars-icon {
    width: 3.5rem;
    content: url("../img/General/binoculars.svg");
}

#section-overview{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/General/BG_Overview.png"); 
}
.course-card{
    background-color: black;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    
}
.course-card .card-body{
    background:black;
}

.course-card h5, .course-card h6{
    color:white;
}

.course-card h6 {
    color: #A9A9A9;
}

#course-btn{
    position: relative;
    margin-top: .5rem;
    margin-right: .5rem;
    font-weight: bolder;
}

#learn-more-btn {
    position: absolute;
    right: 30px;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #380E7F;
    font-weight: bold;
}

.hidden-text{
    font-weight:250;
    font-size:0.7em;
    display:none !important;
}

#sectionfooter {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/General/BG_footer.png");  
    /* background-color: #181818; */
    color: white;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
}
#quiz-button{
    font-weight: bold;
}

#floatingBtn {
    height: 50px;
    color: #FFFFFF;
    background-color: #202020;
    position: fixed;
    z-index: 70;
    bottom: 20px;
    right: 30px;
    margin: 20 auto;
    text-align: right;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 0.5em;
}

.col-md-4.courses{
    flex: 0 0 33.333333% !important;
    max-width:33.333333% !important;
}
/* Media Queries for index php */

@media only screen and (max-width: 1110px) {
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
        display:none !important;
    }

    .card.courses{
        flex:0 0 100% !important;
        max-width:80% !important;
        display:block !important;
        height:7vw;
    }.card-header.intro{
        display:none;}
    .col-auto img{

        height:7vw !important;
    }
    .container.cour{
        justify-content: center !important;
    }
    
}

@media only screen and (max-width: 767px) {
    #section-header h1 {
        font-size: 10vw;
    }
    #section-header h2 {
        font-size: 7.5vw;
    }
    .col-auto img {
        display: none;
    }
    .card.courses {
        height:10vw;
    }

    .card.courses h5 {
        font-size: 3vw;
    }
    .card.courses h6 {
        font-size: 2.5vw;
    }

    .course-information h1, .course-career h1 {
        font-size: 4.2vw !important;
    }

    .course-entry h1 {
        font-size: 7vw !important;
    }

    .course-entry h3, .course-entry h5, .course-entry h6{
        font-size: 4vw;
    }

    .question-icon{
        width:1em;
    }

    .binoculars-icon{
        width:1em;
    }
    
    .fp-controlArrow.fp-next{
        border-width: 25.25px 0 25.25px 17px !important;
        top:52% !important;
    
    }
    #categoryjob{
        font-size: 3.5vw !important;
    }
    #categoryjobname{
        font-size:2.5vw !important;
    }
    .card-body1.category{    
        flex-basis: calc(100% / 3) !important;
        margin-top:1.5vw;
        margin-right:1.5vw;
        width:80% !important;
    }

    #learn-more-btn{
        position: static;
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        width:100%;
    }

    .rounded-circle{
    display:none !important;}

    #floatingBtn{
        display:none !important;
    }
    #course-btn{
        font-size:2.5vw;
    }
    .short-text{
        display:none;
    }
    .hidden-text{
        font-weight:250 !important;
        font-size:1.2em !important;
        display:block !important;
        width:100%;
    }
    .navbar{
        background-color: rgba(0, 0, 0, 0.99) !important;
    }
    
}

.card-body1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 5px;
    padding: 1px;
}

.rounded-circle{
    display: block;
    width: 60px;
    height: 60px;
    margin: 0.1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 5px solid white;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}
.course-career{
    background-color:#380E7F;
}
