/* Modules.php styles */

.filterDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 0 1 calc(25% - 1em);
}

.filterDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.module-wrapper .collapsible {
  background-color: #5904bf;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.module-wrapper .collapsible i {
  font-weight: bold;
  font-size: 1.5em;
}

.module-wrapper .content {
  overflow: hidden;
  max-height: 0;
  padding: 0 18px;
  background-color: #f1f1f1;
  transition: max-height 350ms ease-out;
  display: flex;
  flex-wrap: wrap;
}


/* Buttons css*/

.filterDiv {
  float: left;
  text-align: center;
  margin: 2px;
  display: block;
  color: #d3d3d3;
}

.show {
  display: block;
  color: black;
}

/* Style the buttons */

#myBtnContainer {
  margin: 0 -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter-btn {
  border: 1px solid;
  margin: 5px;
  color: #5904bf;
  /* display: inline-block;
    padding: 11px 0;
    border: 1px solid;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    margin-right: 5px;
    margin: 5px; */
}

.filter-btn:hover,
.active {
  background-color: #5904bf;
  color: white;
}
