/* Modules.php styles */

/* .filterDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 0 1 calc(25% - 1em);
}

.filterDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

h1, h4{
  font-weight: 800;
}
h3{
  font-size:1.75vw;
}
p{
  font-size: 1vw;
}

.module-wrapper .collapsible {
  background-color: #5904bf;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.module-wrapper .collapsible i {
  font-weight: bold;
  font-size: 1.5vw;
}

.year-description-content{
  margin-top:1em;
  margin-bottom:1em;
  margin-left:1em;
  margin-right:1em;
  /* font-family: times, Times New Roman, times-roman, georgia, serif; */
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;color: #444;}

.module-wrapper .tabs {
  display: flex;
  margin: 0px -5px;
}

.module-wrapper .tab-contents {
  border: 2px solid #5904bf;
  padding: 10px;
}

.module-wrapper.hide {
   position: absolute; 
   top: -9999px; 
   left: -9999px;
}

.module-wrapper .modules, .module-wrapper .courses {
  padding: 0 5px;
  transition: max-height 350ms ease-out;
  display: flex;
  flex-wrap: wrap;
}

.module-wrapper .modules .card {
    opacity: 20%;
    background: #DCDCDC;
    pointer-events: none;
    border-radius: 5px;
    position: relative;
    flex-basis: calc((100% - 60px) / 5);
    margin: 5px 5px;
    transition: 0.3s;
}

.module-wrapper .courses .card {
  background: #181818;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding: 0;
  border: 0px;
  flex-basis: calc((100% - 60px) / 4);
  margin: 5px 5px;
  transition: 0.3s;
}

.module-wrapper .modules .card:hover, .module-wrapper .courses .card:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}


.module-wrapper .modules .card.highlight {
    color: black;
    background: white;
    cursor: pointer;
    opacity: 100%;
    pointer-events: auto;
}

.module-wrapper .modules .card .card-body {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.module-wrapper .courses .card .card-body {
    text-decoration: none;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
    border-radius: 5px;
}

.module-wrapper .courses .card-body img {
  border-radius: 5px 5px 0px 0px;
}

.module-wrapper .card .card-title {
    font-size: 1vw;
}
.module-wrapper .card-subtitle  {
    font-size: 0.7vw;
}

.module-wrapper .courses .card .card-title {
  color: white;
}

.module-wrapper .courses .card .card-subtitle {
  color: #dedede;
}


.module-wrapper .modules .card::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.module-wrapper .courses .card::after {
  content: '';
  display: block;
  padding-top: 90%;
}


/* Buttons css*/
/* Style the buttons */

#myBtnContainer {
  margin: 2rem -5px;
  position: relative;

}

/* #myBtnContainer::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,0), white 120%);
  width: 1.5%;
} */


/* #myBtnContainer::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0), white 120%);
    width: 1.5%;
} */
/* Horizon scrollbar */
.filters {
  position: relative;
  margin: 0;
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
  padding-bottom: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.filters::-webkit-scrollbar {
  height: 20px;
}

.filters::-webkit-scrollbar-track {
  background: grey;
  border-top: 9px solid white;
  border-bottom: 9px solid white;
}


.filters::-webkit-scrollbar-thumb {
  background:#5904bf;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
}


.filter-btn {
  border: 1px solid;
  margin: 5px;
  color: #5904bf;
  /* display: inline-block;
    padding: 11px 0;
    border: 1px solid;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    margin-right: 5px;
    margin: 5px; */
}

.filter-btn:hover, .tab-link:hover,
.module-wrapper .active {
  background-color: #5904bf;
  color: white;
}

/* Tab Links */

.tab-link {
  border: 2px solid #5904bf;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  min-width: 175px;

  margin: 0px 5px;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
}
 /* Project Overlay */

 .module-modal1 .modal-dialog {
  max-width: 850px;
}

.module-modal1 .modal-content {
  padding: 100px 0;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-clip: border-box;
  box-shadow: none;
  min-height: 50%;
}

.module-modal1 .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}

.module-modal1 .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 60px;
  margin-left: 35px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.module-modal1 .close-modal .rl {
  z-index: 1052;
  width: 1px;
  height: 60px;
  background-color: #2c3e50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.module-modal1 .modal-body {
  position: relative;
  padding: 20px;
}

.module-modal1 .modal-body .image {
  width: 50vw;
  max-width: 250px;
  margin: 2.5rem 0;
}
 /* Module Overlay */

.module-modal .modal-dialog {
  max-width: 850px;
}

.module-modal .modal-content {
  padding: 100px 0;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-clip: border-box;
  box-shadow: none;
  min-height: 50%;
}

.module-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  background-color: transparent;
  cursor: pointer;
}

.module-modal .close-modal .lr {
  z-index: 1051;
  width: 1px;
  height: 60px;
  margin-left: 35px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.module-modal .close-modal .rl {
  z-index: 1052;
  width: 1px;
  height: 60px;
  background-color: #2c3e50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.module-modal .modal-body {
  position: relative;
  padding: 20px;
}

.module-modal .modal-body .image {
  width: 50vw;
  max-width: 250px;
  margin: 2.5rem 0;
}

.project-content h1 {
  margin: 2rem 0;
}

/* Media Queries */

/* Ipads */
@media (max-width: 1024px) {

    .module-wrapper .modules .card {
        flex-basis: calc((100% - 60px) / 3);
    }
    .module-wrapper .courses .card {
        flex-basis: calc((100% - 60px) / 3);
    }

    .module-wrapper .card .card-title {
        font-size: 3vw;
    }

    .module-wrapper .card .card-subtitle {
        font-size: 2vw;
    }

    .module-wrapper .tab-link {
      min-width: 0;
      flex-grow: 1;
      font-size: 2.5vw;
    }
}

/* Smartphones */
@media only screen and (max-width: 767px) {

    .module-wrapper .modules .card {
        flex-basis: calc(100% / 2);
        margin: 0 0;
    }
    .module-wrapper .courses .card {
        flex-basis: calc(100% / 2);
        margin: 0 0;
    }
    .tab-content p{
      font-size:4vw;
    }
    .modal-body p{

      font-size:4vw;
    }
}