/* Modules.php styles */

/* .filterDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 0 1 calc(25% - 1em);
}

.filterDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.module-wrapper .collapsible {
  background-color: #5904bf;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.module-wrapper .collapsible i {
  font-weight: bold;
  font-size: 1.5em;
}

.year-description-content{
  margin-top:1em;
  margin-bottom:1em;
  margin-left:1em;
  margin-right:1em;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;color: #444;}

.module-wrapper .tabs {
  display: flex;
}

.module-wrapper .tab-link {
  margin: 0px;
  border-radius: 0px;
  margin-right: 10px;
}

.module-wrapper .tab-content {
  border: 1px solid #5904bf;
}

.module-wrapper .modules {
  padding: 0 5px;
  transition: max-height 350ms ease-out;
  display: flex;
  flex-wrap: wrap;
}

.module-wrapper .modules .card {
    opacity: 60%;
    color: grey;
    pointer-events: none;
    border-radius: 0px;
    position: relative;
    flex-basis: calc((100% - 60px) / 5);
    margin: 5px 5px;
}
.module-wrapper .modules .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.module-wrapper .modules .card.highlight {
    color: black;
    cursor: pointer;
    opacity: 100%;
    pointer-events: auto;
}

.module-wrapper .modules .card .card-body {
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.module-wrapper .modules .card .card-title {
    font-size: 1rem;
}



.module-wrapper .modules .card::after {
    content: '';
    display: block;
    padding-top: 100%;
}


/* Buttons css*/
/* Style the buttons */

#myBtnContainer {
  margin: 2rem -5px;
  position: relative;

}

#myBtnContainer::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(to left, rgba(255,255,255,0), white 120%);
  width: 1.5%;
}


#myBtnContainer::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0), white 120%);
    width: 1.5%;
}
/* Horizon scrollbar */
.filters {
  position: relative;
  margin: 0;
  width: auto;
  white-space: nowrap;
  overflow-x: scroll;
  padding-bottom: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.filters::-webkit-scrollbar {
  height: 20px;
}

.filters::-webkit-scrollbar-track {
  background: grey;
  border-top: 9px solid white;
  border-bottom: 9px solid white;
}


.filters::-webkit-scrollbar-thumb {
  background:#5904bf;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
}


.filter-btn {
  border: 1px solid;
  margin: 5px;
  color: #5904bf;
  /* display: inline-block;
    padding: 11px 0;
    border: 1px solid;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    min-width: 200px;
    margin-right: 5px;
    margin: 5px; */
}

.filter-btn:hover,
.module-wrapper .active {
  background-color: #5904bf;
  color: white;
}

/* Tab Links */

.tab-link {
  border: 1px solid #5904bf;
  margin: 10px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  min-width: 175px;
}

.tab-link:hover,
.module-wrapper .active {
  background-color: #5904bf;
  color: white;
}

 /* Module Overlay */

.moduleInfoOverlay {
  display: none;
  position: fixed;
  overflow:hidden;
  overflow-y: scroll;
  top: 0;
  width: 100%;
  z-index: 1001;
  
}
.moduleInfoOverlay .overlay-content {
  min-height: 100vh;
}

.moduleInfoOverlay.show {
  display: block;
  overflow:hidden;
}
.blackOverlay{
  display:inline-block;
  margin:0;
  padding:0;
  top:50%;
  left:50%;
  text-align:center;
  position:absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.95);
  width:60%;
  height:60%;
}
.moduleInfo{
  display:inline-block;
  font-size:1rem;
  margin:0;
  padding:0;
  top:50%;
  left:50%;
  text-align:center;
  position:absolute;
  color:white;
  transform: translateX(-50%) translateY(-50%);
}

.moduleInfoOverlay .overlay-content .fas.fa-times {
  font-size: 3rem;
  color:white;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
}

.overlay-open {
  overflow: hidden;
}

/* Media Queries */

/* Ipads */
@media (max-width: 1024px) {

    .module-wrapper .modules .card {
        flex-basis: calc((100% - 60px) / 3);
    }

    .module-wrapper .modules .card .card-title {
        font-size: 0.75rem;
    }
}

/* Smartphones */
@media only screen and (max-width: 767px) {
    .module-wrapper .modules .card {
        flex-basis: calc(100% / 2);
        margin: 0 0;
    }
}