.project-wrapper .project-contents {
  border: 2px solid #5904bf;
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-content {
  font-size: 1.25rem;
  line-height: 150%;
}

.project-content h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.project-wrapper .project-contents .projectContainer {
  display: flex;
}

.project-wrapper .left-half {
  flex: 1;
  padding: 1rem;
}

.project-wrapper .right-half {
  flex: 1;
  padding: 1rem;
  border-left: 3px solid gray;
  height: 80%;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}
