/* Shared */
body {
    background-color: #FFFFFF;
}

/* Header */


/* Footer */


/* Index */
#fullpage .container-fluid {
    width: 80% !important;
}

.course-card {
    margin: 0 0 30px 0;
}

.section{
    text-align:center;
}

/* Insert other pages */