/* Shared */
body {
    background-color: #FFFFFF;
}

/* Header */
.bg-custom {
	opacity: 80%;
	background: #202020;
}

/* Footer */


/* Index */
#fullpage .container-fluid {
    width: 80% !important;
}

.course-card {
    margin: 5px 0 5px 0;
}

.section{
    text-align:center;
}

@media only screen and (max-width: 767px) {
	.course-card img {
		display: none;
	}
}

/* Insert other pages */

/* Backgrounds will cover all the section
	* --------------------------------------- */
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url();
    }
    
 

	#section0 h1{
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}
	#section2{
		background-image: url();
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url();
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}

	/*Floating button for index page*/
	
	#floatingBtn, #floatingBtnTxt{
		height: 3.5vw;
		color: #FFFFFF;
		background-color: #202020;
		position: fixed;
		z-index: 70;
		bottom: 2.5vw;
		right: 1vw;
		width: 4vw;
		text-align: right;
		font-size: 0.9em;
		padding: 0.9vw 0 0.9vw 0;
		border-radius: 1em;

	}
	#floatingBtnTxt{
		text-align:center;
		vertical-align: middle;
	}
	

	/*Adding background for the slides
	* --------------------------------------- */

	#slide2{
		background-image: url();
	}

	#sectionquiz{    
		background-size:cover;
		background-image: url(https://www.np.edu.sg/ict/PublishingImages/Pages/accountancy/3d_banner.jpg);
	}