/* Shared */
body {
    background-color: #FFFFFF;
}

/* Header Nav */
.bg-custom {
	opacity: 90%;
	background-color: #181818;
	color: white;
}


/* Footer */


/* Index */

#section-header {
	background-size: cover;
	background-image: url("../img/General/BG_Index.png");
	color: white;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#section-header h1 {
	font-size: 3.5rem;
}

#section-header h2 {
	font-size: 2.2rem;
	border-bottom: 4px solid white;
	display: inline-block;
	padding: 0 2rem 0.5rem 2rem;
}

.course-card {
    margin: 10px 0 10px 0;
}

.section .fp-slidesNav {
	text-align: center;
}

.course-information, .course-career {
	flex-basis: 100%;
	padding-top: 56px;
	min-height: 50%;
}
#courseEntry{
	padding-top:140px !important;
}

.course-information {
	background: #181818;
}

.course-career {
	background: #380E7F;
}

/* #courseEntry{
	background:black;
	padding: 15px 0px 5px 15px
} */
/* #courseEntry{
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
/*    background: rgba(0, 0, 0, 0.5);
} */

.question-icon {
	width: 3.5rem;
	content: url("../img/General/question.svg");
}

.binoculars-icon {
	width: 3.5rem;
	content: url("../img/General/binoculars.svg");
}

#courseInfo {
	padding-top:30px;
}

#careerPathway{
	padding-top:10px;
}
#careerPathway p{
	width: 25% !important;
	float:left !important;
}

#courseSeperator{
	border-top: 3px solid white;
}

#section-overview{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/General/BG_Overview.png"); 
}
.course-card{
	background-color: black;
	box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.card-body{
	background:black;
}

.course-card h5, h6{
	color:white;
}

#section-footer {
	background-color: #181818;
	color: white;
	padding: 20px;
}
.overlay{
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
	background: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 1200px) { /* For extra large screens */ 
	#fullpage .container, .navbar .container {
		max-width: none !important;
		width: 70% !important;
	}
}

@media only screen and (max-width: 767px) { /* For mobile devices */
	.course-card img {
		display: none;
	}
	#courseTitle h1{
		font-size: 8vw !important;
		width:60%;
		
	}
	#courseTitle h2{
		font-size: 6vw !important;
        border-top: 2px solid white !important;
	}
	
	#courseInfo h1{
		font-size: 5vw !important;
	}
	.question-icon{
		width:1.5em !important;
	}

	#courseInfo p{
		font-size: 3.5vw !important;
	}
	#careerPathway h1{
		font-size: 5vw !important;
	}
	.binoculars-icon{
		width:1.5em !important;
	}

	#careerPathway p{
		font-size: 2.5vw !important;
		width: 33.3% !important;
	}

	#courseEntry h1{
		font-size: 5vw !important;
	}
	#courseEntry h3{
		font-size: 2.925vw !important;
	}
	#courseEntry h5, h6, p{
		font-size: 2.5vw !important;
	}
	.course-card h5{
		font-size:3.3vw !important;
	}
	.course-card h6{
		font-size:1.8vw !important;
	}
	#section-header h1 {
		font-size:10vw !important;
	}
	#section-header h2 {
		font-size:7.5vw !important;
	}
	.fp-controlArrow.fp-next{
		border-width: 25.25px 0 25.25px 17px !important;
		top:52% !important;
	
	}

	.course-information, .course-career {
		min-height: initial;
	}
	#courseEntry{
		padding-top: 56px !important;
	}
}

@media only screen and (max-width: 1110px) {
.fp-controlArrow.fp-prev{
	display:none !important;
}
}


/* Insert other pages */

/* Backgrounds will cover all the section
	* --------------------------------------- */

	/*Floating button for index page*/
	
	#floatingBtn {
		height: 50px;
		color: #FFFFFF;
		background-color: #202020;
		position: fixed;
		z-index: 70;
		bottom: 50px;
		right: 30px;
		margin: 20 auto;
		text-align: right;
		font-size: 0.9em;
		padding: 10px;
		border-radius: 1em;
	}

	

	/*Adding background for the slides
	* --------------------------------------- */

	#slide2{
		background-image: url();
	}

	#sectionquiz{    
		background-size:cover;
		background-image: url(https://www.np.edu.sg/ict/PublishingImages/Pages/accountancy/3d_banner.jpg);
	}
