#myBtnContainer-tour {
    margin: 2rem -5px;
    position: relative;
}

.tour-wrapper .colle {
    border: 1px solid #9651A4;
    margin-top: 15px;
    
}
.tour-wrapper .collapsible {
    background-color: #9651A4;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    padding: 15px;
    /* font-size: inherit; */
    /* margin-top: 3px; */
}


.tour-wrapper  .active, .collapsible:hover {
    background-color: #9651A4;
}

.tour-wrapper .collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    /* font-size: inherit; */
}

.tour-wrapper .active:after {
    content: "\2212";
}
  
.tour-wrapper .content {
    /* margin: 3px; */
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
}


.img-fluid.tour{
    max-width:70%;
  }
  .content.tour p{
      font-size:1.3vw;
  }


@media only screen and (max-width: 767px) {
    .img-fluid.tour{
        max-width:100%;
      }
      .content.tour p{
          font-size:3vw;
      }
      .collapsible{
        font-size: 4vw;
    }
    
}
